.vscode/**
.vscode-test/**
src/**
jsonxmlgrid/**
!jsonxmlgrid/build/static/**/*.js
!jsonxmlgrid/build/static/**/*.css
node_modules
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
resources/
!resources/logo.png
.fuse*
