.vscode/**
.vscode-test/**
src/**
jsonxmlgrid/**
!jsonxmlgrid/build/static/**/*.js
!jsonxmlgrid/build/static/**/*.css
!jsonxmlgrid/node_modules/@vscode/codicons/dist/*.css
!jsonxmlgrid/node_modules/@vscode/codicons/dist/*.ttf
node_modules
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
resources/
!resources/*.png
!resources/*.svg
.fuse*
